html {
	height: 0px;
	margin: 0px;
}

#cat {
	background-color: deepskyblue;
	padding: 10px;
	width: 40px;
	position: absolute;
}

#dog {
	background-color: orange;
	height: 600px;
}

#bird {
	background-color: purple;
	height: 600pxl
}

/* fixed, static, absolute */

