html {
	background-color: #ff0066;
}
/* # is an ID selector */
#intro {
	background-color: hsla(168, 73%, 96%, 0.50);
} /* HSLA (Hue, Saturation, Lightness, Alpha) value // with screens, the color is additive, bc light */

/* "." used for class */
.firstparagraph {
	font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
	padding: 1%;
}

img {
	background-color: black;
	padding: 5%;
}

#about {
	background-color: orange;
	padding: 20px;
	margin: 40px;
}

body {
	max-width: 960px;
}