a {
		font-size: 1em;
		text-decoration: none;
}

a:hover {
	color: purple;
	text-decoration: none;
}

a:visited {
   	text-decoration: none;
}

a:active { 
	color: purple;
}
b {
	text-decoration: none;
}
b, a {
	color: grey; 
	text-decoration: none;
}
a {
	color:red;
   	text-decoration: none;
}

u {
	text-decoration: none;
}


.title_p3{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
}

.titlex2 {
	font-size: 3.5em;
	font-family: 'Merriweather', serif;
	padding-top: 15%;
}

#topnav_0 ul {
		list-style: none;
		margin-left: -150px;
		text-align: center;		
		margin-top: 7.5%;
	}

.navigation-list_0 li {
		display: inline-block;
		padding-left:130px;
		font-size: 2em;
		font-family: 'Roboto', sans-serif;
		position: static;
	}

#luvoxlink {
	text-decoration: underline;
}

#pg1text {
	margin-top: 4.6in;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: .85em;
	margin-top: -10%;
}

.arrow {
	padding-top: 9.5%;
	height: 30px;
	text-decoration: none;
	/** margin-left: 50%; **/
	text-align: center;
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: sans-serif;
}


#topnav ul {
		list-style: none;
	}

.navigation-list li {
		display: inline-block;
		padding-left:130px;
		font-size: 2em;
		font-family: 'Roboto', sans-serif;
		position: static;
	}

/* page 2 */
	.bot3 {
		position: absolute;
		top: 50%;
		left: 49.5%;
		max-width: 45%;
		max-height: 38%;
		line-height: 150%;
	   	overflow-y: scroll;
	   	background-color: white;
	   	backface-visibility: visible;
		display: block;
		padding: 2.5%;
		right: 6.5%;
		z-index: 4;
		padding-top: -7%; 
		bottom: 7.5%;
	}

	.colr3_text {
		max-width: 40%;
		position: fixed;
		display: block;
		top: 39.5%;
		left: 16.4%;
		width: 40%;
		margin-right: 7.5%;
		margin-left: 40%;
		background-color: white;
		margin-right: 10%;
		font-size: .7em;
		line-height: 175%;
	}

	.secquote {
		position: fixed;
		top: 18%;
		bottom: 10%;
		margin-left: 2.5%;
		right: 57%;
		line-height: 185%;
		width: 40%;
		height: 70%;
		font-size: 1.55em;
		font-family: 'Merriweather', serif;
		z-index: 2; 
		font-style: bolder;
		color: red;	
		backface-visibility: visible;	
	}


	.colright_3 { 
		position: fixed;		
		display: block;
		top: 31%;
		left: 10%;
		background-color: white;
		backface-visibility: visible;	
		font-family: 'Merriweather', serif;
		margin-right: -14.4%;
	}

	.brainscan {	
		max-width: 85%;
		top: 3%;
	}

	.bodytext3 {
		font-family: 'Merriweather', serif;
	    font-size: .75em;
	    line-height: 1.5;
	    font-weight: lighter; }

	.space2 {
		margin-top: 7.5px;
	}

	.idk {
		bottom: 1.5%;
	}

	.title_p3 {
		position: absolute;
		bottom: 92.5%;
		left: 76%;
		z-index: 4;
		display: inline;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5em;
		letter-spacing: 1px;}

/* page 1 */

.h2_22 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	text-transform: uppercase;}

.sidebar2 {
}

.leftbox2 {

}

.topimage {
	position: fixed;
	bottom: 90%;
	max-width: 100%;
	top: ;
}

.rightbox2 { 
	position: fixed;
	bottom: 90%;
	top:1.5%;
	padding: 2%;
	display: inline;
	z-index: 2;

}

.rightbox2 { flex:1 100%; /* tell all items to be 100% width */
}	



.bodytext, .further2 {
	font-family: 'Merriweather', serif;
    font-size: .6em;
    line-height: 1.5;
    font-weight: lighter;
}


.title2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

#warning {
	color:red;
}


.h2_2 { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	line-height: 15%;
	text-transform: uppercase;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

.h2_2nomargin { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	margin-top: 1pt;
	margin-bottom: -2.5pt;
}


.container2 {
	position: absolute;
	max-height: 600px;
	max-width: 55%;
	left: 20%;
	top: 5%;
}

.druginfo {
	position: relative;
	background-color: #DCDCDC;
	right: 3%;
	overflow: scroll;
	border: solid 1px;
	max-height: 350px;
	width: 100%;
	padding-right: 3%;
	bottom: 0;
	display: inline-block;
	margin-top: 40%;
}

.nav_p2 {
	position: absolute;
	bottom: 92.5%;
	left: 64%;
	z-index: 4;
	display: static;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;

}

#suicide {
	position: fixed;
	max-width: 52%;
	left: 20.5%;
	padding: 2.5%;
	max-height: 32%;
}




.font {
	color: #D3D3D3;
	text-decoration: none;
}
b:hover {
	color: purple;
}

b + a{
	color: red;
}

a:hover{
	color: purple;

}

#suicide {
	position: fixed;
}

.h2_22 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	text-transform: uppercase;}

.sidebar2 {
}

.leftbox2 {

}

.topimage {
	position: fixed;
	bottom: 90%;
	max-width: 100%;
	top: ;
}

.rightbox2 { 
	position: fixed;
	bottom: 90%;
	top:1.5%;
	padding: 2%;
	display: inline;
	z-index: 2;

}

.rightbox2 { flex:1 100%; /* tell all items to be 100% width */
}	



.bodytext, .further2 {
	font-family: 'Merriweather', serif;
    font-size: .6em;
    line-height: 1.5;
    font-weight: lighter;
}


.title2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

#warning {
	color:red;
}




.container2 {
	position: absolute;
	max-height: 600px;
	max-width: 55%;
	left: 20%;
	top: 5%;
}

.druginfo {
	position: relative;
	background-color: #DCDCDC;
	right: 3%;
	overflow: scroll;
	border: solid 1px;
	max-height: 350px;
	width: 100%;
	padding-right: 3%;
	bottom: 0;
	display: inline-block;
	margin-top: 40%;
}

.nav_p2 {
	position: fixed;
	bottom: 92.5%;
	left: 58%;
	z-index: 4;
	display: inline;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
}

#suicide {
	position: fixed;
	max-width: 52%;
	left: 20.5%;
	padding: 2.5%;
	max-height: 32%;
}

#topnav ul {
	list-style: none;
}

.navigation-list li {
		display: inline-block;
		padding-left:75px;
		font-size: 2em;
		font-family: 'Roboto', sans-serif;
		position: static;
}

.font {
	color: #D3D3D3;
	text-decoration: none;
}
b:hover {
	color: purple;
}

b + a{
	color: red;
}

a:hover{
	color: purple;

}

#suicide {
	position: fixed;
}

.h2_22 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	text-transform: uppercase;}

.sidebar2 {
}

.leftbox2 {

}

.topimage {
	position: fixed;
	bottom: 90%;
	max-width: 100%;
	top: ;
}

.rightbox2 { 
	position: fixed;
	bottom: 90%;
	top:1.5%;
	padding: 2%;
	display: inline;
	z-index: 2;

}

.rightbox2 { flex:1 100%; /* tell all items to be 100% width */
}	



.bodytext, .further2 {
	font-family: 'Merriweather', serif;
    font-size: .6em;
    line-height: 1.5;
    font-weight: lighter;
}


.title2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

#warning {
	color:red;
}


.h2_2 { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	line-height: 15%;
	text-transform: uppercase;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

.h2_2nomargin { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	margin-top: 1pt;
	margin-bottom: -2.5pt;
}


.container2 {
	position: absolute;
	max-height: 600px;
	max-width: 55%;
	left: 20%;
	top: 5%;
}

.druginfo {
	position: relative;
	background-color: #DCDCDC;
	right: 3%;
	overflow: scroll;
	border: solid 1px;
	max-height: 350px;
	width: 100%;
	padding-right: 3%;
	bottom: 0;
	display: inline-block;
	margin-top: 40%;
}

.nav_p2 {
	position: fixed;
	bottom: 92.5%;
	left: 58%;
	z-index: 4;
	display: inline;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
}

#suicide {
	position: fixed;
	max-width: 52%;
	left: 20.5%;
	padding: 2.5%;
	max-height: 32%;
}

#topnav ul {
	list-style: none;
}

.navigation-list li {
		display: inline-block;
		padding-left:75px;
		font-size: 2em;
		font-family: 'Roboto', sans-serif;
		position: static;
}

/*.container2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} 

.sidebar2 {
	height: 600px;}

.leftbox2 {flex: left;}

.topimage {
	position: sticky;
	bottom: 90%;
	max-width: 100%;
	top: 
}

.rightbox2 { 
	position: fixed;
	bottom: 90%;
	top:1.5%;
	padding: 2%;
	display: inline;
	z-index: 2;

}

.container2, .rightbox2 { flex:1 100%; /* tell all items to be 100% width *//*
}	

@media all and (min-width: 800px) {
	.sidebar2 {flex: 1;}
	.druginfo {flex: 3 0px;/* flex:; 2 means the main-content div will be 2 flex columns wide*//*}
	.leftbox2 {order: 1; flex: 2.5 0px;/*order:1 means this item will appear first at screen sizes larger than 800px *//*}
	.druginfo {order: 1;}
}
*/

.sidebar2 {
}

.leftbox2 {

}

.topimage {
	position: sticky;
	bottom: 90%;
	max-width: 100%;
	top: 
}

.rightbox2 { 
	position: fixed;
	bottom: 90%;
	top:1.5%;
	padding: 2%;
	display: inline;
	z-index: 2;

}

.rightbox2 { flex:1 100%; /* tell all items to be 100% width */
}	



.bodytext, .further2 {
	font-family: 'Merriweather', serif;
    font-size: .6em;
    line-height: 1.5;
    font-weight: lighter;
}

.boxme {
	background-color: white;
	outline: 2px solid red;
	outline-offset: 1px;
	display: block;
	padding: 1.5%;
	top: -3.5%;
	position:absolute;
	left: 40%;
	top: 2.5%;
	max-width: 40%;

}

.title2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

#warning {
	color:red;
}


.h2_2 { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	line-height: 15%;
	text-transform: uppercase;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

.h2_2nomargin { 
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	font-size: 8pt;
	letter-spacing: .75px;
	margin-top: 1pt;
	margin-bottom: -2.5pt;
}

li ul {
	text-decoration: none;
}

.containerX {
	overflow: scroll;
	border: solid 1px;
	max-height: 700px;

}

.druginfo {
	background-color: #DCDCDC;
	margin-left: 3%; 
	margin-right: 3%; 

}

.source_3 {
	font-family: 'Merriweather', serif;
	font-size: .5em;
	color: #FF4500;
}



/* page 3 */ 




/* nav bar stuff
.navbar {
  width: 17.5%;
  height: 100%;
  border: .5px solid;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
/*  padding: 1em;
*/ /* list-style: none;
}

.navgen {
	width: 15%;
	padding: 2.5%;
	text-align: left;
}

.details, .manu, .curious { 
	margin-top: 10%;
	height: 10%;
	text-align: left;
} */

/*
.details {
	display: block;
	height: 80px;
	text-align: left;
	float: right;
	width: 10%;
	margin-top: 15%;
	margin: 15%;
}

.manu {
	display: block;
	height: 80px;
	text-align: left;
	float: right;
	width: 10%; 
	margin-top: 15%;
	margin: 15%;
}

.curious {
	display: block;
	height: 80px;
	text-align: left;
	float: right;
	width: 10%; 
	margin-top: 15%;
	margin: 15%;
}*/

ul {
	list-style: none;
}

a li {
	margin: 0px;
	padding: 0px;
	border: solid;
	border-width: .25px;
	text-decoration: none;
}

.source_3 {
	font-family: 'Merriweather', serif;
	font-size: .5em;
	color: #FF4500;	
}
/*
a:hover {
	color: red;	
	text-decoration: none;
}

a:visited {
    color: black;
   	text-decoration: none;

}

a:active {
    color: gray;
   	text-decoration: none;
}

a {
	color:black;
   	text-decoration: none;
}*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Merriweather', serif;
}

.space {
	margin-top: 2.5px;
}

.space2 {
	margin-top: 7.5px;
}



.title_p3 {
	position: absolute;
	bottom: 92.5%;
	left: 76%;
	z-index: 4;
	display: inline;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;}

.topimage_p3 {
	position: fixed;
	bottom: 90%;
	max-width: 100%;

}

/* page 2 

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

/*.navbar {
	float: right;
	height: 100%
	width: 10%
	background-color: gray;
}

.nav-gen {
	font-family: sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
} 
*/

.source_3 a {
	color:red;
}


.concerns {
	background-color: black;
}



