html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nexttab {
	display: block;
	background-color: FFDF40;
	border: solid;
	border-width: .5px;
	padding-right: 3px;
	padding-left: 3px;
	position: absolute;
	font-size: 9pt;
	text-transform: uppercase;
	margin-top:  100px;
	align-items: left;
	margin-left: 300px;
	text-decoration: none;
}

.nexttab a:hover {
	background-color: yellow;
}

.container {
    display: -webkit-flex; 
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
}


.arrow {
	height: 30px;
}

/*
.arrow:hover {
	background-color: yellow;
	padding: 5px;
	height: 70px;
	padding-bottom: 5px;
	padding-top: 5px;
	align-content: center;
}	*/

body {
	background-color: #DEDEDE;
	margin-bottom: 30px;
	font-family: 'Titillium Web', sans-serif;
}


#p1content {
	float: right;
	width: 55%;
	margin-top: 90px;
}

#addyshot {
	float: left margin-top;
	width: 35%;
	margin: 25px;
	margin-top: 150px;
	margin-right: 5%;
}

.vietnamquote {
	font-size:11.5pt;
	margin-right: 15%
	margin-bottom: 15px;
	margin-right: 20%;
	float: margin-top;
	padding-bottom: 50px;
}

a {
	color: black;
	text-decoration: none;
}

#p1head {
	font-size: 15pt;
	text-transform: uppercase;

}

#p1subhead {
	font-size: 11.5pt;
}

.spacing {
	margin-bottom: 8px;
}

.container:after {
	content: "";
	display: table;
	clear:both;
}



/*
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex:2 100%;
}


#nav {
	margin-left: 15%;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

li {
	display: inline-block;
    width: 60px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 
    padding: 0;
    float: left;
}
*/
}
.clearfix:after {
	content:"\0020";
	visibility:hidden;
	display:block;
	height:0px;
	clear:both;
}
*:first-child+html .clearfix {
	zoom:1;
}
.animateStates {
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
	transition:0.3s ease-in-out;
}
[data-whatinput="mouse"] *:focus,[data-whatinput="touch"] *:focus,input:focus,textarea:focus {
	outline:none;
}

